@{
    ViewData["Title"] = "Спортзали Києва";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Вихід" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Sign in</a>
    <a asp-controller="Account" asp-action="Register">Registration</a>
}